body {
  line-height: 150%;
}

section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 1em; 
}

h2 {
  border-bottom: 2px solid rgba(0,0,0,0.4);
  padding-bottom: 10px;
}

dt {
  display: flex;
  align-items: flex-start;
  margin-top: 1em;
  font-weight: bold;
}

dd{ 
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

dt button {
  margin-left: auto;
}

dt span {
  margin-right: 1em;
}